<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List Test</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <% include ../layout/bootstrapcss %>
    <% include ../layout/datatablecss %>

</head>

<body div class="bg-#f6f9fa">
    <% include ../layout/navbar %>

    <div class="container mb-5">
        <div class="card shadow-sm p-3 bg-white rounded mb-5">
            <div class="card-body">

                <h3 class="text-center">Danh sách câu hỏi</h3>
                <table id="table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Câu số</th>
                            <th>Part</th>
                            <th class="text-center">Edit/Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% questions.forEach((question) => { %>
                        <tr>
                            <td><%= question.number %></td>
                            <td><%= question.part %></td>
                            <!-- <% if (question.paragraph !== undefined) {question.paragraph = question.paragraph.replace(/(\r\n|\n|\r)/gm,""); console.log(question.paragraph) } %>
          -->
                            <td class="text-center"> 
                                <a href="#id"
                                    onclick="loadQuestion('<%= question.id %>', '<%= question.number %>', '<%= question.part %>', '<%= question.audioURL %>', '<%= question.imageURL %>', '<%= question.paragraph %>', '<%= question.question %>', '<%= question.explain %>', '<%= question.A %>', '<%= question.B %>','<%= question.C %>', '<%= question.D %>', '<%= question.key %>')" class="p-3">
                                    <i class='fas fa-pencil-alt' style='font-size:1.5rem; color: green'></i>
                                </a>
                                <a href="/admin/tests/<%= testID %>/questions/delete/<%= question._id %>">
                                    <i class='fas fa-trash-alt' style='font-size: 1.5rem; color: brown'></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>

                <!--FORM QUESTION ---------------------------------------->
                <div class="card w-100 mt-5">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Add/Edit câu hỏi</h3>
                    </div>
                    <div class="card-body">
                        <form action="/admin/tests/<%= testID %>/questions/update" method="POST">
                            <div class="form-group">
                                <label for="id">ID</label>
                                <input type="text" readonly class="form-control" id="id" name="id" />
                                <small>* Nếu muốn tạo mới vui lòng không điền thông tin vào trường này (xóa dữ liệu bằng
                                    cách ấn nút Reset)</small>
                            </div>
                            <div class="form-group">
                                <label for="number">Câu số:</label>
                                <select class="form-control" id="number" name="number">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="part">PART</label>
                                <select class="form-control" id="part" name="part">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Audio URL</label>
                                <input type="text" id="audioURL" name="audioURL" class="form-control">

                            </div>

                            <div class="form-group">
                                <label>Image URL</label>
                                <input type="text" id="imageURL" name="imageURL" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Đoạn hội thoại</label>
                                <textarea name="paragraph" id="paragraph" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Câu hỏi</label>
                                <textarea name="question" id="question" class="form-control"></textarea>
                            </div>
                            
                            <div class="form-group">
                                <label>Đáp án A</label>
                                <input type="text" id="A" name="A" class="form-control" /></div>
                            <div class="form-group">
                                <label>Đáp án B</label>
                                <input type="text" id="B" name="B" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Đáp án C</label>
                                <input type="text" id="C" name="C" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Đáp án D</label>
                                <input type="text" id="D" name="D" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Đáp án đúng</label>
                                <select class="form-control" id="key" name="key">
                                    <option value="A">A</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                    <option value="A">D</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                    <label>Giải thích đáp án</label>
                                    <textarea name="explain" id="explain" class="form-control"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <button type="reset" class="btn btn-info">Reset</button>
                            </div>
                        </form>
                    </div>

                </div>
                
                        
            </div>
        </div>
    </div>
    </div>

    <% include ../layout/bootstrapjs %>
    <% include ../layout/datatablejs %>

    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

    <!--SCRIPT LOAD SELECT OPTION-->
    <script>
        var select = document.getElementById('number');
        for (let i = 1; i <= 100; i++) {
            var option = new Option;
            option.text = i;
            option.value = i;
            select.options[i] = option;
        }

        var select = document.getElementById('part');
        for (let j = 1; j <= 7; j++) {
            var option = new Option;
            option.text = j;
            option.value = j;
            select.options[j] = option;
        }
    </script>

    <!--LOAD FORM QUESTION-->
    <script>

        function loadQuestion(id, number, part, audioURL, imageURL, paragraph, question, explain, A, B, C, D, key) {

            
            document.getElementById("id").value = id;
            document.getElementById("number").value = number ;
            document.getElementById("part").value = part;
            document.getElementById("audioURL").value = audioURL;
            document.getElementById("imageURL").value = imageURL;
           
            document.getElementById("paragraph").value = paragraph;
            document.getElementById("question").value = question;
            document.getElementById("explain").value = explain;
            document.getElementById("A").value = A;
            document.getElementById("B").value = B;
            document.getElementById("C").value = C;
            document.getElementById("D").value = D;
            document.getElementById("key").value = key;
        
        }
        
    </script>
</body>
</html>